@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
button,
input,
a {
  outline: none !important;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  margin-bottom: 0;
}

svg {
  width: 100%;
  height: 100%;
}

.unseen_chat_counter_box, .chat_tab .tab_scroll_wrap .single_chat_wrap .chat_last_time_box p.unseen_message_box {
  margin-left: 0.5rem;
  background: #fff;
  min-width: 1.3rem;
  min-height: 1.3rem;
  border-radius: 3px;
  color: #055249;
  font-size: 10px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 2px;
  line-height: 0;
}

.cstm_btn {
  border: none;
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #055249;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  border-radius: 0.3rem;
}

.cstm_btn:hover {
  background-color: #ddd;
}

.dropdown_component_wrap {
  position: relative;
  display: inline-block;
}

.dropdown_component_wrap .dropdown_dot_icon {
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  position: relative;
  padding: 0.4rem;
}

.dropdown_component_wrap .dropdown_dot_icon svg {
  font-size: 1.2rem;
  color: #fff;
  fill: #fff;
  stroke: #fff;
}

.dropdown_component_wrap .dropdown_dot_icon:hover svg {
  color: #ddd;
  fill: #ddd;
  stroke: #ddd;
}

.dropdown_component_wrap .dropdown_ul {
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  background: #fff;
  -webkit-box-shadow: 0 0px 3px 0px rgba(0, 14, 39, 0.3);
          box-shadow: 0 0px 3px 0px rgba(0, 14, 39, 0.3);
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 10;
  list-style: none;
}

.dropdown_component_wrap .dropdown_ul li {
  border-bottom: 1px solid #e9e9e9;
}

.dropdown_component_wrap .dropdown_ul li a {
  font-size: 1.3rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #444;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1.2rem;
  -webkit-transition: 20ms ease;
  transition: 20ms ease;
}

.dropdown_component_wrap .dropdown_ul li a:hover {
  background: rgba(0, 42, 70, 0.1);
  color: #222;
}

.dropdown_component_wrap .dropdown_ul li a .dropdown_icon_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1.6rem;
  height: 1.6rem;
}

.dropdown_component_wrap .dropdown_ul li a .dropdown_icon_box svg {
  stroke: #333;
}

.dropdown_component_wrap .dropdown_ul li a .dropdown_text_box {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.dropdown_component_wrap .dropdown_ul li a .dropdown_text_box p {
  margin-bottom: 0;
  color: #333;
}

.dropdown_component_wrap .dropdown_ul li a:hover .dropdown_text_box {
  padding-left: 0.5rem !important;
}

.dropdown_component_wrap .dropdown_ul li a:hover .dropdown_icon_box svg,
.dropdown_component_wrap .dropdown_ul li a:hover .dropdown_icon_box i,
.dropdown_component_wrap .dropdown_ul li a:hover .dropdown_text_box p {
  stroke: #111;
  color: #111;
}

.dropdown_component_wrap .dropdown_ul li:first-child a {
  padding-top: 1rem;
}

.dropdown_component_wrap .dropdown_ul li:last-child a {
  padding-bottom: 1.1rem;
}

.dropdown_component_wrap.showDown .dropdown_ul {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  top: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.dropdown_component_wrap.showUp .dropdown_ul {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.ripple_span {
  width: 0;
  height: 0;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

.line_clamp_1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.input_filed_wrap {
  width: 100%;
  padding: 1.5px;
  position: relative;
  margin-bottom: 1rem;
}

.input_filed_wrap:last-child {
  margin-bottom: 0;
}

.input_filed_wrap .input_animation_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.input_filed_wrap .input_animation_box span {
  position: absolute;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.input_filed_wrap .input_animation_box span:nth-child(1) {
  width: 0%;
  top: 0;
  left: 40px;
  height: 50%;
  background-color: white;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.input_filed_wrap .input_animation_box span:nth-child(2) {
  width: 0%;
  bottom: 0;
  right: 0;
  height: 50%;
  background-color: white;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.input_filed_wrap .input_animation_box span:nth-child(3) {
  bottom: 50%;
  left: 0;
  width: 15%;
  height: 0%;
  background-color: white;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.input_filed_wrap .input_box {
  width: 100%;
  background-color: #055249;
  position: relative;
  z-index: 3;
  border-radius: 1px;
}

.input_filed_wrap .input_box input {
  width: 100%;
  font-size: 16px;
  padding: 7px 10px;
  padding-top: 12px;
  border: none;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1px;
  color: #fff;
  background-color: transparent;
  -webkit-transition: padding 0.2s 0.65s ease;
  transition: padding 0.2s 0.65s ease;
}

.input_filed_wrap .input_box label {
  position: absolute;
  top: 50%;
  left: 10px;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  -webkit-transition: top 100ms 0.4s ease-in-out, font-size 100ms 0.4s ease-in-out;
  transition: top 100ms 0.4s ease-in-out, font-size 100ms 0.4s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  padding: 0 3px;
  white-space: nowrap;
  background-color: #055249;
}

.input_filed_wrap .input_box label span {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 0 3px;
  -webkit-transition: width 0.1s ease-in-out, font-size 100ms 0.4s ease-in-out;
  transition: width 0.1s ease-in-out, font-size 100ms 0.4s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  width: 0px;
  opacity: 0;
}

.input_filed_wrap.focused .input_animation_box span {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.input_filed_wrap.focused .input_animation_box span:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  width: 100%;
}

.input_filed_wrap.focused .input_animation_box span:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  width: 100%;
}

.input_filed_wrap.focused .input_animation_box span:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
  height: 100%;
}

.input_filed_wrap.focused label {
  top: 0;
  font-size: 12px;
  -webkit-transition: top 150ms ease-in-out, font-size 150ms ease-in-out;
  transition: top 150ms ease-in-out, font-size 150ms ease-in-out;
}

.input_filed_wrap.focused label span {
  width: 100%;
  opacity: 1;
  -webkit-transition: width 0.5s 0.5s ease-in-out, font-size 150ms ease-in-out, opacity 0s 0.5s;
  transition: width 0.5s 0.5s ease-in-out, font-size 150ms ease-in-out, opacity 0s 0.5s;
}

.borderLight .input_animation_box span:nth-child(1) {
  height: 0 !important;
}

.borderLight .input_animation_box span:nth-child(2) {
  height: 0 !important;
}

.borderLight .input_animation_box span:nth-child(3) {
  width: 0 !important;
}

.borderLight .input_box label {
  color: #999 !important;
}

.borderLight .input_box label::before {
  color: #999 !important;
}

.inputFilled .input_box label {
  top: 0;
  font-size: 12px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.error .input_box label {
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

.error .input_box label span {
  color: red;
  width: 100% !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

.error .input_animation_box span {
  width: 100% !important;
  height: 100% !important;
  background-color: red !important;
}

.error.inputFilled .input_box label {
  color: red !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/body_bg.png");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/body_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  font-size: 10px;
}

.chat_wrapper {
  width: 28%;
  background-color: #fff;
  height: 85vh;
  position: relative;
  overflow: hidden;
}

.chat_wrapper .chat_header {
  padding: 0.8rem 1.2rem;
  background-color: #055249;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 4.5rem;
}

.chat_wrapper .chat_header .chat_logo_box a {
  text-decoration: none;
  font-size: 1.9rem;
  letter-spacing: 0.03rem;
  color: #fff;
  font-weight: 700;
}

.chat_wrapper .chat_body_wrapper {
  background-color: #fff;
  height: calc(100% - 4.5rem);
}

.chat_header_options_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chat_header_options_wrap .dropdown_component_wrap {
  margin-right: 0.5rem;
}

.chat_header_options_wrap .dropdown_component_wrap:last-child {
  margin-right: 0;
}

.header_search_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  border-bottom: 1px solid #ddd;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9;
  -webkit-clip-path: circle(0% at 84% 20px);
          clip-path: circle(0% at 84% 20px);
  -webkit-transition: -webkit-clip-path 0.35s ease;
  transition: -webkit-clip-path 0.35s ease;
  transition: clip-path 0.35s ease;
  transition: clip-path 0.35s ease, -webkit-clip-path 0.35s ease;
}

.header_search_wrap .back_to_search_box {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.3rem;
  cursor: pointer;
}

.header_search_wrap .back_to_search_box svg {
  color: #777;
}

.header_search_wrap .back_to_search_box:hover svg {
  color: #555;
}

.header_search_wrap .search_input_box {
  width: 100% !important;
}

.header_search_wrap .search_input_box input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
  color: #222;
}

.header_search_wrap .search_input_box input::-webkit-input-placeholder {
  color: #444;
}

.header_search_wrap .search_input_box input:-ms-input-placeholder {
  color: #444;
}

.header_search_wrap .search_input_box input::-ms-input-placeholder {
  color: #444;
}

.header_search_wrap .search_input_box input::placeholder {
  color: #444;
}

.header_search_wrap .search_input_box input:focus::-webkit-input-placeholder {
  color: #222;
}

.header_search_wrap .search_input_box input:focus:-ms-input-placeholder {
  color: #222;
}

.header_search_wrap .search_input_box input:focus::-ms-input-placeholder {
  color: #222;
}

.header_search_wrap .search_input_box input:focus::placeholder {
  color: #222;
}

.header_search_wrap.show {
  -webkit-clip-path: circle(120% at 84% 20px);
          clip-path: circle(120% at 84% 20px);
}

.swiper-container {
  height: 100%;
}

.swiper-pagination {
  position: static;
  background-color: #055249;
  position: relative;
  padding: 0 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 4.6rem;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.swiper-pagination.hide {
  height: 2% !important;
}

.swiper-pagination .swiper-pagination-bullet {
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 0;
  margin: 0 !important;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1.3rem 1rem;
  padding-top: 2.1rem;
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-pagination .active_tab_bottom_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
}

.swiper-wrapper {
  margin-top: -10px;
  height: calc(100% - 4.6rem + 10px);
}

.chat_tab .tab_scroll_wrap {
  height: 100%;
  overflow-y: auto;
}

.chat_tab .tab_scroll_wrap .single_chat_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5rem auto 5.5rem;
      grid-template-columns: 5rem auto 5.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  border-bottom: 1px solid rgba(221, 221, 221, 0.7);
  position: relative;
}

.chat_tab .tab_scroll_wrap .single_chat_wrap:hover {
  background: rgba(0, 42, 70, 0.1);
}

.chat_tab .tab_scroll_wrap .single_chat_wrap .chat_image_box {
  width: 4.5rem;
  height: 4.5rem;
  overflow: hidden;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.chat_tab .tab_scroll_wrap .single_chat_wrap .chat_image_box.view_photo_mode {
  border-radius: 0 !important;
  position: relative !important;
  border-radius: 0 !important;
  z-index: 99999 !important;
}

.chat_tab .tab_scroll_wrap .single_chat_wrap .chat_user_name_box {
  padding-left: 0.3rem;
}

.chat_tab .tab_scroll_wrap .single_chat_wrap .chat_user_name_box h4 {
  color: #222;
  font-size: 1.4rem;
  margin-bottom: 0.1rem;
}

.chat_tab .tab_scroll_wrap .single_chat_wrap .chat_user_name_box p {
  color: #555;
  font-size: 1.1rem;
}

.chat_tab .tab_scroll_wrap .single_chat_wrap .chat_last_time_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat_tab .tab_scroll_wrap .single_chat_wrap .chat_last_time_box p.last_message_time_box {
  color: #25d366;
  font-weight: 500;
  margin-bottom: 2px;
  font-size: 1.1rem;
}

.chat_tab .tab_scroll_wrap .single_chat_wrap .chat_last_time_box p.unseen_message_box {
  background: #25d366 !important;
  color: #fff !important;
  padding: 0.2rem;
  font-weight: 500;
  font-size: 1rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 50%;
}

.chat_tab .tab_scroll_wrap.request_tab_wrap .single_chat_wrap, .chat_tab .tab_scroll_wrap.send_request_tab_wrap .single_chat_wrap {
  -ms-grid-columns: 5rem auto 12rem;
      grid-template-columns: 5rem auto 12rem;
}

.chat_tab .tab_scroll_wrap.request_tab_wrap .single_chat_wrap .chat_last_time_box, .chat_tab .tab_scroll_wrap.send_request_tab_wrap .single_chat_wrap .chat_last_time_box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.chat_tab .tab_scroll_wrap.request_tab_wrap .single_chat_wrap .chat_last_time_box button, .chat_tab .tab_scroll_wrap.send_request_tab_wrap .single_chat_wrap .chat_last_time_box button {
  border: none;
  background: #055249;
  color: #fff;
  border-radius: 0.3rem;
  margin-right: 0.4rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2rem;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.chat_tab .tab_scroll_wrap.request_tab_wrap .single_chat_wrap .chat_last_time_box button:hover, .chat_tab .tab_scroll_wrap.send_request_tab_wrap .single_chat_wrap .chat_last_time_box button:hover {
  background: #01302a;
}

.chat_tab .tab_scroll_wrap.request_tab_wrap .single_chat_wrap .chat_last_time_box button:last-child, .chat_tab .tab_scroll_wrap.send_request_tab_wrap .single_chat_wrap .chat_last_time_box button:last-child {
  background: #dbdbdb;
  color: #444;
  margin-right: 0;
}

.chat_tab .tab_scroll_wrap.request_tab_wrap .single_chat_wrap .chat_last_time_box button:last-child:hover, .chat_tab .tab_scroll_wrap.send_request_tab_wrap .single_chat_wrap .chat_last_time_box button:last-child:hover {
  background: #c5c5c5;
  color: #222;
}

.chat_tab .tab_scroll_wrap.send_request_tab_wrap .single_chat_wrap {
  -ms-grid-columns: 5rem auto 11rem;
      grid-template-columns: 5rem auto 11rem;
}

.chat_tab .tab_scroll_wrap.send_request_tab_wrap .chat_last_time_box button {
  background: #055249 !important;
  color: #fff !important;
}

.chat_tab .tab_scroll_wrap.send_request_tab_wrap .chat_last_time_box button:hover {
  background: #01302a !important;
}

.chat_click_ripple_wrap {
  position: absolute;
  background: transparent;
  top: 0;
  left: 6rem;
  width: calc(100% - 6rem);
  height: 100%;
}

.chating_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
  background: url("../img/bg_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0%;
  -webkit-animation: fromLeft 0.3s ease-in-out;
          animation: fromLeft 0.3s ease-in-out;
}

.chating_wrap.show {
  left: 0;
}

.chating_wrap .chating_header_wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3rem auto 3rem;
      grid-template-columns: 3rem auto 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem 1.2rem;
  background: #055249;
}

.chating_wrap .chating_header_wrap .back_button_box {
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.2rem;
  cursor: pointer;
}

.chating_wrap .chating_header_wrap .back_button_box svg {
  color: #fff;
}

.chating_wrap .chating_header_wrap .back_button_box:hover svg {
  color: #ddd;
}

.chating_wrap .chating_header_wrap .chat_personn_name_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.3rem;
}

.chating_wrap .chating_header_wrap .chat_personn_name_box .img_box {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
}

.chating_wrap .chating_header_wrap .chat_personn_name_box .name_box {
  max-width: calc(100% - 4rem);
}

.chating_wrap .chating_header_wrap .chat_personn_name_box .name_box h4 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 0.1rem;
}

.chating_wrap .chating_header_wrap .chat_personn_name_box .name_box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.chating_wrap .chating_header_wrap .chat_personn_option_box {
  justify-self: flex-end;
}

.chating_wrap .chating_body_wrap {
  height: calc(100% - 49px);
  overflow: hidden;
  padding: 0.5rem;
  padding-right: 0;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap {
  height: calc(100% - 45px);
  overflow: hidden;
  overflow-y: auto;
  padding: 0.5rem 2rem 0 1rem;
  margin-bottom: 0.5rem;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .forward_activate_icon_box {
  position: absolute;
  top: calc(50% - 3px);
  left: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 33;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .forward_activate_icon_box svg {
  color: #fff;
  fill: #fff;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .forward_activate_icon_box.forwardActivated {
  background: #00abee;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0 0.3rem 0.3rem 0.3rem;
  max-width: 80%;
  position: relative;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3), 0 1px 0px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3), 0 1px 0px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 0.5rem;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.9rem;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid #fff;
  -webkit-box-shadow: 0px -0.8px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0px -0.8px 1px 0 rgba(0, 0, 0, 0.12);
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 3px;
  -webkit-box-shadow: 0 1px 1px 0 #00000021;
          box-shadow: 0 1px 1px 0 #00000021;
  -webkit-transform: translate(-15px, -4px) rotate(40deg);
          transform: translate(-15px, -4px) rotate(40deg);
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap .chating_image_box {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 0.3rem 0.3rem 0 0;
  cursor: pointer;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap .chat_text_p {
  font-size: 1.3rem;
  color: #111;
  margin: 0;
  line-height: 1.25;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap .chat_sent_time_and_seen_unseen_box {
  width: 100%;
  padding-left: 6rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap .chat_sent_time_and_seen_unseen_box .chat_sent_time {
  color: #555;
  margin-right: 0.4rem;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap .chat_sent_time_and_seen_unseen_box .chat_seen_unseen {
  width: 1.2rem;
  height: 1.2rem;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap .chat_sent_time_and_seen_unseen_box .chat_seen_unseen svg {
  width: 100%;
  height: 100%;
  display: none;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap .chat_sent_time_and_seen_unseen_box .chat_seen_unseen.status_unseen svg.unseen_check {
  fill: #888;
  display: block;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap .chat_sent_time_and_seen_unseen_box .chat_seen_unseen.status_received_but_not_seen svg.seen_check {
  fill: #888;
  display: block;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap .chat_text_or_image_wrap .chat_sent_time_and_seen_unseen_box .chat_seen_unseen.status_seen svg.seen_check {
  fill: #00d2ee;
  display: block;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap.from_other_side {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap.from_other_side .chat_text_or_image_wrap {
  background-color: #e2ffc7;
  border-radius: 0.3rem 0 0.3rem 0.3rem;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap.from_other_side .chat_text_or_image_wrap::before {
  left: auto;
  right: -0.9rem;
  -webkit-transform: rotateY(190deg);
          transform: rotateY(190deg);
  border-right: 1rem solid #e2ffc7;
}

.chating_wrap .chating_body_wrap .all_chats_show_wrap .chat_wrap.from_other_side .chat_text_or_image_wrap::after {
  left: auto;
  right: 0;
  -webkit-transform: translate(14px, -3px) rotate(-43deg);
          transform: translate(14px, -3px) rotate(-43deg);
}

.chating_wrap .chating_body_wrap .chats_send_from_wrap form {
  width: 100%;
}

.chating_wrap .chating_body_wrap .chat_from_inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 4.5rem;
      grid-template-columns: auto 4.5rem;
  padding-right: 0.5rem;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box {
  background: #fff;
  border-radius: 0.3rem 0 0.3rem 0.3rem;
  -webkit-box-shadow: 0 0 1px 0 #e6e6e6, 0 -1px 1px 0 #dfdfdf, 0 1px 2px 0 #b9b9b9;
          box-shadow: 0 0 1px 0 #e6e6e6, 0 -1px 1px 0 #dfdfdf, 0 1px 2px 0 #b9b9b9;
  height: 4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_input_box_corner {
  content: "";
  position: absolute;
  top: 0;
  right: -1.1rem;
  border-left: 1.2rem solid transparent;
  border-top: 1.2rem solid #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 9;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_input_box_corner .top_shadow {
  position: absolute;
  width: 1.2rem;
  height: 1px;
  right: calc(100% - 1px);
  top: -1.2rem;
  -webkit-box-shadow: 0px -0.2px 0.5px 0px #dfdfdf;
          box-shadow: 0px -0.2px 0.5px 0px #dfdfdf;
  z-index: -1;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_input_box_corner .bottom_right_shadow {
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 16px;
  height: 1px;
  background: transparent;
  -webkit-transform: rotate(45deg) translateX(-2px) translateY(-6px);
          transform: rotate(45deg) translateX(-2px) translateY(-6px);
  -webkit-box-shadow: -0.5px 1px 1px 0px #c4c4c4;
          box-shadow: -0.5px 1px 1px 0px #c4c4c4;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box input {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  border: none;
  padding: 0 3.5rem;
  color: #000;
  background: transparent;
  letter-spacing: 0.3px;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  letter-spacing: 0.5px;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  letter-spacing: 0.5px;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  letter-spacing: 0.5px;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  letter-spacing: 0.5px;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_emoji_box,
.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_send_img_box {
  width: 2.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.3rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.5rem;
  cursor: pointer;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_emoji_box svg,
.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_send_img_box svg {
  stroke-width: 1.5px;
  color: #888;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_emoji_box:hover svg,
.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_send_img_box:hover svg {
  color: #666;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_input_box .chat_send_img_box {
  right: 0.5rem;
  left: auto;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_submit_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_submit_box button {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0.8rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
  background: #055249;
  border-radius: 50%;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_submit_box button svg {
  color: #fff;
}

.chating_wrap .chating_body_wrap .chat_from_inner .chat_submit_box button:hover {
  background: #01302a;
}

.search_friends_wrap {
  padding: 0.5rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.search_friends_wrap h4 {
  font-size: 1.4rem;
  color: #222;
}

.search_friends_wrap .search_icon_box {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  padding: 0.4rem;
}

.search_friends_wrap .search_icon_box svg {
  stroke: #222;
}

.chat_img_and_online_status_wrap {
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.chat_img_and_online_status_wrap .chat_selected_icon_box {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  bottom: 0rem;
  right: 0.2rem;
  padding: 0.2rem;
  padding-top: 0.25rem;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #00abee;
  border: 0.2rem solid #fff;
  z-index: 3;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.chat_img_and_online_status_wrap .chat_selected_icon_box svg {
  stroke-width: 4px;
  color: #fff;
}

.chat_img_and_online_status_wrap .online_offline_dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff8800;
  position: absolute;
  right: 0.5rem;
  bottom: 0.2rem;
  border: 2px solid #fff;
  -webkit-transition: -webkit-transform 50ms ease-in-out;
  transition: -webkit-transform 50ms ease-in-out;
  transition: transform 50ms ease-in-out;
  transition: transform 50ms ease-in-out, -webkit-transform 50ms ease-in-out;
}

.chat_img_and_online_status_wrap .online_offline_dot.online {
  background-color: #25d366;
}

.chat_img_and_online_status_wrap .online_offline_dot.offline {
  background-color: #999;
}

.single_chat_wrap.selected_chat .online_offline_dot {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.single_chat_wrap.selected_chat .chat_selected_icon_box {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.black_overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: -1px;
  height: calc(100% + 1px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.black_overly.show {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

.welcome_login_signup_section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  display: none;
}

.welcome_login_signup_section .welcome_text_box {
  text-align: center;
  padding: 2rem 1.2rem;
}

.welcome_login_signup_section .welcome_text_box h2 {
  font-size: 2rem;
  color: #055249;
  margin-bottom: 1px;
}

.welcome_login_signup_section .welcome_text_box p {
  font-size: 1.1rem;
  color: #444;
}

.welcome_login_signup_section .login_signup_wrap {
  width: 100%;
  background-color: #055249;
  border-radius: 1.5rem 1.5rem 0 0;
  height: calc(100% - 7.8rem);
}

.welcome_login_signup_section .login_signup_wrap .login_wrap,
.welcome_login_signup_section .login_signup_wrap .signup_wrap {
  padding: 4rem 2.5rem;
}

.welcome_login_signup_section .login_signup_wrap .login_wrap h3,
.welcome_login_signup_section .login_signup_wrap .signup_wrap h3 {
  color: #fff;
  font-size: 1.8rem;
  border-left: 3px solid #fff;
  padding-left: 0.5rem;
}

.welcome_login_signup_section .login_signup_wrap .login_wrap .login_step_wrapper,
.welcome_login_signup_section .login_signup_wrap .login_wrap .signup_step_wrapper,
.welcome_login_signup_section .login_signup_wrap .signup_wrap .login_step_wrapper,
.welcome_login_signup_section .login_signup_wrap .signup_wrap .signup_step_wrapper {
  margin-top: 2.2rem;
}

.welcome_login_signup_section .login_signup_wrap .singup_forgot_password_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.welcome_login_signup_section .login_signup_wrap .singup_forgot_password_wrap a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
  font-weight: 400;
}

.welcome_login_signup_section .login_signup_wrap .singup_forgot_password_wrap a:hover {
  text-decoration: underline;
  color: #fff;
}

.signup_wrap {
  display: none;
}

.signup_step_wrapper {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  margin-top: 1rem !important;
  padding-top: 1rem;
  -ms-grid-columns: (100%)[2];
      grid-template-columns: repeat(2, 100%);
}

.signup_step_wrapper .step_one_wrap {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.signup_step_wrapper .step_two_wrap {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.signup_step_wrapper .step_two_wrap .username_notice_box {
  padding: 1rem;
  border-left: 2px solid #ffcc00;
  background-color: #ffcc004d;
  margin-bottom: 1.2rem;
}

.signup_step_wrapper .step_two_wrap .username_notice_box p {
  font-size: 1.2rem;
  color: #fff;
}

.signup_step_wrapper .step_two_wrap .signup_submit_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup_step_wrapper .step_two_wrap .signup_submit_box button {
  border-radius: 0.3rem;
  width: 25%;
}

.signup_step_wrapper .step_two_wrap .signup_submit_box button:last-child {
  width: 70%;
  margin-left: 1.2rem;
}

.signup_step_wrapper .go_to_login_box {
  padding: 1rem 0;
}

.signup_step_wrapper .go_to_login_box a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
  font-weight: 400;
}

.signup_step_wrapper .go_to_login_box a:hover {
  text-decoration: underline;
  color: #fff;
}

.signup_step_wrapper.active_step_two .step_one_wrap {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.signup_step_wrapper.active_step_two .step_two_wrap {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.bg_black_full,
.profile_img_view_mode_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
  left: 0;
  -webkit-animation: fromLeft 0.3s ease-in-out;
          animation: fromLeft 0.3s ease-in-out;
}

.bg_black_full .bg_black_btn_wrap,
.profile_img_view_mode_section .bg_black_btn_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: auto;
  padding: 0.8rem;
}

.bg_black_full .bg_black_btn_wrap button,
.profile_img_view_mode_section .bg_black_btn_wrap button {
  display: block;
  border: none;
  width: 2.8rem;
  height: 2.8rem;
  padding: 0.3rem;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.bg_black_full .bg_black_btn_wrap button svg,
.profile_img_view_mode_section .bg_black_btn_wrap button svg {
  color: #fff;
}

.bg_black_full .bg_black_btn_wrap button:hover svg,
.profile_img_view_mode_section .bg_black_btn_wrap button:hover svg {
  color: #ddd;
}

.profile_img_view_mode_section {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: unset;
          animation: unset;
  display: block;
  -webkit-animation: fadeIn 0.2s ease-in-out;
          animation: fadeIn 0.2s ease-in-out;
}

.profile_img_view_mode_section .img_container {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-property: top, left, width, height, border-radius;
  transition-property: top, left, width, height, border-radius;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fromLeft {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes fromLeft {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@media screen and (min-width: 770px) {
  .thin_scrollbar {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    scrollbar-width: thin;
    scroll-padding: 2px;
    scroll-behavior: smooth;
  }
  .thin_scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  .thin_scrollbar::-webkit-scrollbar-track {
    border-radius: 1rem;
  }
  .thin_scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
  }
}

@media (max-width: 770px) {
  .chat_wrapper {
    width: 100%;
    height: 100vh;
  }
}

.ui-loader {
  display: none !important;
}

.ui-page.ui-page-theme-a.ui-page-active {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */